<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cangoproject">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.Camera.autofocus" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/qrlogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/qrlogo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FormActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OutBox"/>
        <activity android:name=".SearchWithAssetList">
        </activity>
        <activity android:name=".DetailsActivity"></activity>

        <activity
            android:name=".DomainActivity"
            android:theme="@style/myTheme.NoActionBar" />
        <activity
            android:name=".AssetTypeActivity"
            android:theme="@style/myTheme.NoActionBar" />
        <activity android:name=".ScanCodeActivity" />
        <activity
            android:name=".Setting"
            android:parentActivityName=".HomePageActivity" />
        <activity
            android:name=".AssetList"
            android:parentActivityName=".HomePageActivity" />
        <activity android:name=".HomePageActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ItemActivity" />
        <activity android:name=".Form" />
        <activity
            android:name=".ItemDataActivity"
            android:theme="@style/myTheme.NoActionBar" />
        <activity
            android:name=".SiteActivity"
            android:theme="@style/myTheme.NoActionBar" />
<activity
            android:name=".TestFlashLight"
            android:parentActivityName=".SiteActivity" />
        <activity
            android:name=".RadioAsset"
            android:theme="@style/myTheme.NoActionBar" />
    </application>

</manifest>